.user-register-form {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 25px 56px 0px #99e2ff;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 50px;
}
nav.tabs {
  float: right;
  margin: 12px 0;
}
.container {
  margin-bottom: 30px;
}
.page-title-small {
  padding: 20px 0;
  margin-bottom: 20px;
}
.page-title-small .container,
.footer-top .container {
  margin-bottom: 0;
}
.captcha {
  padding: 12px 0;
}
form#user-register-form {
  margin-bottom: 10px;
}
@media (min-width:1025px) {
nav.tabs {
  position: relative;
  top: -86px;
}
.page-title h1.black-text {
  position: relative;
  bottom: -24px;
}
.messages {
  margin: 9px 0 10px 8px;
}
.messages--status {
  color: #325e1c;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  background-color: #f3faef;
  background-image: url(../../../../misc/icons/73b355/check.svg);
  box-shadow: -8px 0 0 #77b259;
}
.messages {
  padding: 15px 20px 15px 95px;
  word-wrap: break-word;
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  background: no-repeat 10px 17px;
  overflow-wrap: break-word;
}
.message {
  position: relative;
  bottom: 11px;
}
}
@media only screen and (max-device-width: 768px){
.message {
  padding-left: 16px;
}
}

/**
 * Header
*/
.lang-swtc {
  margin: 10px 15px 8px 0;
  font-size: 0.923em;
}

.lang-swtc .links li {
  display: inline;
  margin: 0 0 0 20px;
}

.lang-swtc .links li.is-active a {
  color: #575757;
}

.nav-white.sticky-nav .lang-swtc .links a {
  color: #fff;
}

.nav-white.sticky-nav .lang-swtc .links a:hover, .nav-white.sticky-nav .lang-swtc .links li.is-active a {
  color: #ccc;
}

.shrink-nav.nav-white.sticky-nav .lang-swtc .links a {
  color: #000;
}

.shrink-nav.nav-white.sticky-nav .lang-swtc .links a:hover, .shrink-nav.nav-white.sticky-nav .lang-swtc .links li.is-active a {
  color: #575757;
}

@media (min-width: 992px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: -5px;
  }
}
.navbar-toggle {
  margin-top: 34px;
}

/**
 * Form
*/
.form-actions {
  margin: 20px 0;
}

input + .description, textarea + .description, select + .description {
  margin: -15px 0 20px;
}

.user-pass, .user-register-form, .user-login-form {
  max-width: 40em;
}

/**
 * Footer
.foot-mid-wrp {
  background: url('../banner/footer4.jpg') no-repeat center top;
  background-size: cover;
  position: relative;
}

.foot-mid-wrp::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: #fff;
  opacity: 0.8;
}

.foot-mid-wrp .container {
  margin-bottom: 0;
}
*/

.no-fx {
  background-attachment: scroll !important;
}

@media(min-width: 768px) {
  .copyright {
    margin-top: 22px;
  }
}

.footer-bottom .container {
  margin-bottom: 0;
}

.footer-logo img {
  max-width: 70px;
}


/*User registeration form*/
.user-register-form, .user-login-form, .user-pass, .webform-submission-add-form {
    box-shadow: 0 0 30px 3px #efefef;
    margin: 50px auto !important;
    padding: 50px;
}
.webform-submission-add-form {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .webform-submission-add-form {
    width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .webform-submission-add-form {
    width: 100%;
    padding: 10px;
  }
}
input + .description, textarea + .description, select + .description {
    font-style: italic;
    font-size: 12px;
}
.page-node-type-webform .field--name-body p {
    margin: 30px 10px 0 !important;
}
.user-register-form + h2, .user-login-form + h2, .user-pass + h2 {
    margin: 15px 0;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
}
.social-wrp {
    text-align: center;
}
.page-title-small {
  margin-bottom: 0 !important;
}
.about img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 15px 0;
}
.webform-confirmation {
    width: 1170px;
    margin: 6px auto 50px;
    padding: 40px 20px 20px!important;
    text-align: left;
    color: #3c763d;
    border: 1px solid #3c763d29 !important;
    background: #07fb0b0f;
}
@media screen and (max-width: 1199px) {
  .webform-confirmation {
    width: 100%;
  }
}