nav.tabs {
  float: right;
  margin: 12px 0;
}
.container {
  margin-bottom: 30px;
}
.page-title-small {
  padding: 20px 0;
}
.captcha {
  padding: 12px 0;
}
form#user-register-form {
  margin-bottom: 10px;
}
.logo {
  height: 50px;
}
nav.navbar {
  background-color: #FFF !important;
}
.nav-white.sticky-nav .navbar-nav li a {
  color: #000 !important;
}
@media (min-width:1025px) {
nav.tabs {
  position: relative;
  top: -86px;
}
.page-title h1.black-text {
  position: relative;
  bottom: -24px;
}
.messages {
  margin: 9px 0 10px 8px;
}
.messages--status {
  color: #325e1c;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  background-color: #f3faef;
  background-image: url(../../../../misc/icons/73b355/check.svg);
  box-shadow: -8px 0 0 #77b259;
}
.messages {
  padding: 15px 20px 15px 95px;
  word-wrap: break-word;
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  background: no-repeat 10px 17px;
  overflow-wrap: break-word;
}
.message {
  position: relative;
  bottom: 11px;
}
}
@media only screen and (max-device-width: 768px){
.message {
  padding-left: 16px;
}
}