{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
  {% if content %}    
    <div class="col-md-6 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">      
        {{ content }}
      </div>
  {% endif %}
{% endblock %}
